{% assign header_class = "resume__header" %}
{% if page.one_column %}
{% assign header_class = "resume__header--one_column" %}
{% endif %}

%header{ class: "{{ header_class }}" }
  %h1
    Kelly Joseph Price

  %address
    %ul.resume__contact
      %li kellyjosephprice@gmail.com
      %li (925) 234-2914

    %ul.resume__links
      %li
        %a{ href: 'https://www.linkedin.com/in/kelly-price-a1176022' } LinkedIn
      %li
        %a{ href: 'https://www.github.com/kellyjosephprice' } Github
