---
layout: resume
title: "Cover Letter for ReadMe"
one_column: true
---

%section.cover_letter__body
  %p
    RE: Slate/React Engineer at ReadMe

  %p
    To whom it may concern,

  %p
    I am writing to apply for the position of Slate/React Engineer. I think I'd be an excellent fit as I've spent a significant part of the last three years leading a project to build an electronic lab notebook. It's a WYSIWIG text editor for scientists to record their experiments and was built primarily using Slate and React. During the process I committed a couple of minor changes to Slate and brought my team up to speed on React.

  %p
    The particular problems you are working on sound really fun. I personally enjoy using markdown as I think it hits a nice sweetspot for ease of use and power. So extending it and building on top of it sound like something I could really get into.

  %p I look forward to hearing from you.

  %p Sincerely,
  %p Kelly Joseph Price

  %p.cover_letter__personal
    A little about me:
  %p
    I'm a full-stack software developer with an emphasis on the front-end, a father of one daughter with one more on the way, and a tender of 3 cats. My current hobbies include taking my daughter for bike rides around the baylands in our cargo bike, sourdough bread baking, and playing Switch. I definitely have a shelf collecting books and rasppi projects that I haven't gotten to yet.
