<!DOCTYPE html>
%html{ lang: '{{ site.lang | default: "en-US" }}' }
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ charset: "utf-8" }
    %title
      {{ page.title }} - {{ site.title }}
    %link{ rel: 'icon', href: "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 105 55'><text y='.7em' font-size='75'>🕳️</text></svg>" }

    %script{ src: "{% asset_path main.js %}" }
    %link{ rel: "stylesheet", href: '{% asset_path app.scss %}' }

  %body
    %p

    %header.header
      %h1
        klog

      %ul.header__links
        %li
          %a{ href: 'https://www.github.com/kellyjosephprice' }
            %img{ alt: 'Github', src: 'https://github.githubassets.com/favicons/favicon.svg' }
        %li
          %a{ href: 'https://news.ycombinator.com/user?id=kellyjprice' }
            %img{ alt: 'HackerNews', src: 'https://news.ycombinator.com/y18.gif' }
        %li
          %a{ href: 'https://www.linkedin.com/in/kelly-price-a1176022' }
            %img{ alt: 'LinkedIn', src: 'https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico' }

    {{ content}}
