%html
  %head
    %meta{ "charset" => "utf-8" }
    %title
      {{ page.title }}
    %link{ rel: "stylesheet", href: '{% asset_path resume.scss %}' }

    %link{ "href" => "https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans|Roboto|Source+Code+Pro|Source+Sans+Pro&display=swap", "rel" => "stylesheet" }
  %body
    .page
    %main#resume
      == {% include resume-header.haml %}
      {{ content }}
