$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  max-width: 600px;
  margin: 2em auto;
}

@media screen and (max-width: 700px) {
  body {
    max-width: 600px;
    margin: 2em 2em;
  }
}

h1 {
  margin-bottom: .5em;
}

main {
  margin: 1em 0;
}

address {
  > * {
    margin: 1em 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;

  li {
    margin-left: 1em;
  }

  img {
    width: 1em;
    height: 1em;
  }
}
