@import 'reset.scss';

$dark-grey: #555;

$left-column: 1in;
$grid-gap: 1em;

@mixin bold {
  font-weight: 700;
}

@mixin grid-container {
  display: grid;
  grid-template-columns: [left] $left-column [right] auto;
  grid-column-gap: $grid-gap;
  grid-row-gap: $grid-gap;
}

@mixin grid-container-3-col {
  @include grid-container;
  grid-template-columns: [left] $left-column [middle] auto [right] auto;
}

@mixin grid-container--alt {
  > :nth-child(odd) {
    grid-column: left;
    text-align: right;
  }

  > :nth-child(even) {
    grid-column: right;
  }
}

#resume {
  max-width: 6.5in;
  margin: .75in auto;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

  a {
    text-decoration: none;
  }

  h1, h2 {
    @include bold;
  }

  h2 {
    max-width: $left-column;
    text-align: end;
    font-size: 1em;
  }

  dl {
    margin: $grid-gap 0;
  }
}

.resume__header, .resume__header--one-column {
  margin-bottom: 2 * $grid-gap;
  grid-row-gap: 0;
}

.resume__header {
  @include grid-container-3-col;

  h1 {
    grid-column: middle;
  }

  ul {
    grid-column: right;
    text-align: right;
  }
}

.resume__header--one_column {
  @include grid-container

  > * {
    grid-column: right;
  }
}

.resume__links li {
  display: inline-block;
  margin-left: $grid-gap;
}

.resume__header--one_column {
  .resume__links li {
    margin-left: 0;
    margin-right: $grid-gap;
  }
}

.resume__skills, .resume__employment, .resume__education {
  margin: $grid-gap 0;
}

.resume--columns, .resume__skills {
  @include grid-container;
  @include grid-container--alt;
}

.resume__period {
  color: $dark-grey;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.resume__job-title {
  @include bold;
}

.resume__company {
  &:before {
    color: $dark-grey;
    content: ' at ';
  }
}

.resume__tech {
  font-family: 'Source Code Pro', monospace;
  color: $dark-grey;

  li {
    display: inline;

    &:after {
      content: ', ';
    }

    &:last-of-type:after {
      content: ''
    }
  }
}

.resume__employment .resume__tech {
  &:before {
    content: '> ';
  }
}

.resume__employment .resume--columns {
  grid-row-gap: 1.5em;
}

.resume__feats {
  margin-top: .5em;

  li:before {
    margin-right: .5em;
    content: '•';
  }
}

.page {
  position: absolute;
  width: 8.5in;
  height: 11in;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  border: thin dotted #eee;
  z-index: -1;
}

.cover_letter__body {
  margin: calc(#{$left-column} + #{$grid-gap});

  p {
    margin: $grid-gap 0;
  }

  .cover_letter__personal {
    margin-top: 2 * $grid-gap;
  }
}

@media print {
  .page {
    border: none;
  }
}
