---
layout: default
title: "klog"
---
%main
  Currently there's nothing to show off. I've had a few false starts at blogging. Hopefully soon.

%section
  %ol
    {% for post in site.posts %}
    %li
      %a{ href: "{{ post.url }}" }
        {{ post.title }}
    {% endfor %}
