---
title: Kelly Joseph Price
permalink: resume
layout: resume
---

%section.resume__skills
  %h2 skills
  %ol.resume__tech
    == {% for skill in site.data.resume.skills %}
    %li== {{ skill }}
    == {% endfor %}

%section.resume__employment
  %h2 employment
  %dl.resume--columns
    == {% for job in site.data.resume.employment %}
    %dt.resume__period
      == {% for period in job.period %}
      %time== {{ period }}
      == {% endfor %}
    %dd
      .resume__position
        %span.resume__job-title== {{ job.title }}
        %span.resume__company== {{ job.company }}

      {% if job.skills %}
      %ul.resume__tech
        == {% for skill in job.skills %}
        %li== {{ skill }}
        == {% endfor %}
      {% endif %}

      {% if job.feats %}
      %ul.resume__feats
        == {% for feat in job.feats %}
        %li== {{ feat }}
        == {% endfor %}
      {% endif %}
    == {% endfor %}

%section.resume__education
  %h2 education
  %dl.resume--columns
    == {% for schooling in site.data.resume.education %}
    %dt.resume__period
      == {% for period in schooling.period %}
      %time== {{ period }}
      == {% endfor %}
    %dd== {{ schooling.institution }}
    == {% endfor %}
